html *, body {
  margin:0;
  padding:0;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #3023AE; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #3023AE, #bd96f6); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #3023AE, #bd96f6); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #3023AE, #bd96f6); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #3023AE, #bd96f6); /* Standard syntax */
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-text-size-adjust: 100%;
}

header, nav, main, section, article, footer {
    display: block;
}

html, body{
  width:100%;
  height:100%;
  font-family: 'Lato', sans-serif;
  color:white;
  text-align: center;
  position: relative;
}

a, a:active {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

header {
  padding: 60px 0 25px;
  margin: 0 auto;
  text-align: center;
}

header ul, header ul li, main ul, main li {
  list-style: none;
  list-style-type: none;
}

header img.main_logo {
  max-width: 220px;
}

h1 {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1.3px;
  font-weight: 700;
  margin: 32px 0 18px;
  text-align: left;
}

main {
  text-align: center;
  width: 480px;
  margin: 0 auto;
  text-shadow: 0px 1px 1px #3023AE;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main ul li {
  font-size: 15px;
  font-weight: 400;
  text-align: left;
}

main ul li {
  letter-spacing: 1px;
  padding-bottom: 5px;
}

main ul li .tiny.material-icons {
  font-size: 11px;
  position: absolute;
  right: -15px;
  top: 5px;
}

main ul li a {
  font-weight: bold;
  position: relative;
  display: inline-block;
}

footer {
  height: 50px;
  display: block;
  clear: both;
}

section.float_l { float: left; }
section.float_r { float: right; }

section.float_r h1,
section.float_r ul,
section.float_r ul li {
  text-align: right;
}

section.float_r ul li .tiny.material-icons {
  right: auto;
  left: -15px !important;
}

@media only screen
  and (min-width: 320px)
  and (max-width: 480px) {

  main {
    position: relative;
    top: auto;
    left: auto;
    transform: translate(0, 0);
    width: auto;
  }

  h1 {
    text-align: center;
  }

  main ul li {
    text-align: center;
  }

  main ul li .tiny.material-icons {
    right: auto;
    left: -15px !important;
  }

  section.float_l { float: none; }
  section.float_r { float: none; }

  section.float_r h1,
  section.float_r ul,
  section.float_r ul li {
    text-align: center;
  }

}

@media only screen
  and (max-height: 710px) {

    main {
      position: relative;
      transform: translate(0, 0);
      top: auto;
      left: auto;
    }

}
